@import url('https://fonts.googleapis.com/css?family=Raleway:200');

/* En feature - animering av bakgrunden */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding: 0;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#sendMsg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

#msgTxt {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 120px);
  margin-left: 0.5rem;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.8;
  font-weight: 600;
}

#msgBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  border-radius: 10px;
  opacity: 0.85;
  margin-right: 0.5rem;
  font-weight: 600;
}

#msgBtn:hover {
  background-color: inherit;
  opacity: 0.8;
}

h1 {
  width: 35vw;
  padding: .2em;
  text-align: center;
  margin: 20px auto;
  color: whitesmoke;
  --borderWidth: 7px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

h1:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#messages {
  position: fixed;
  left: 0;
  top: 1;
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.outer {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

#inner {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;

}

.me {
  background: white;
  opacity: 0.8;
  color: black;
  font-weight: bold;
}

.notMe {
  background: black;
  opacity: 0.8;
  color: #fff;
  font-weight: bold;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
